<h1><%= title %></h1>
ユーザー名：<input type="text" id="user" value="" /><br />
メッセージ：<input type="text" id="message" value="" /><br />
ログ：
<div id="log" />
	<div id="typing"></div>
</div>
<input type="submit" id="send" value="送信">